<main>
  <h2 class="title">Sign in</h2>
  <p>Need a acount? <a routerLink="/signup">Sign up</a> </p>
  <form [formGroup]="form" (ngSubmit)="submitForm()">
    <label>
      Email:
      <input type="email" formControlName="email">
      <span *ngIf="validEmail">Please enter a valid email address</span>
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
    <span *ngIf="validInput">Password and email incorrect</span>
    <button type="submit">Sign up</button>
  </form>
</main>
