<main>
  <h2 class="title">Sign in</h2>
  <p>Need a acount? <a routerLink="/auth/signup">Sign up</a> </p>
  <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
    <label>
      Email:
      <input type="text" formControlName="username">
      <span *ngIf="validEmail">Please enter a valid email address</span>
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
    </label>
    <span *ngIf="invalidInput">Password and email incorrect</span>
    <button type="submit">Login</button>
  </form>
</main>
