<main class="w-screen h-screen flex" >
  <section class="hidden lg:block lg:w-1/2 ">
    <div class="img-signup"></div>
  </section>
  <section class="flex w-full mt-20 lg:w-1/2">
    <article class="w-10/12 md:w-7/12 mx-auto ">
      <h2 class="font-bold text-3xl mb-1 text-black md:text-4xl">Sign Up</h2>
      <p class="text-light-gray font-normal mb-8 text-sm md:text-xl">Enter details to create your account</p>
      <form>
        <div class="flex flex-col my-4 md:my-6">
          <div class="relative">
            <label for="username-id" class="text-sm outline-none absolute pl-3 z-10 -top-2 text-light-gray font md:text-base md:-top-3 ">Username*</label>
            <input type="email" name="username" id="username-id" required class="border-light-gray border rounded-md z-0 hover:outline-none hover:outline-transparent w-full h-12 pl-4 text-md md:h-14 md:text-base">
          </div>
          <p class="text-red text-sm md:text-base" >Username is required</p>
        </div>
        <div class="flex flex-col my-4 md:my-6">
          <div class="relative">
            <label for="pass" class="text-sm outline-none absolute pl-3 z-10 -top-2 text-light-gray font md:text-base md:-top-3">Email*</label>
            <input type="password" name="pass" id="pass" required class="border-light-gray border rounded-md z-0 hover:outline-none hover:outline-transparent w-full h-12 pl-4 text-md md:h-14 md:text-base">
          </div>
          <p class="text-red text-sm md:text-base">Email is required</p>
        </div>
        <div class="flex flex-col my-4 md:my-6">
          <div class="relative">
            <label for="username-id" class="text-sm outline-none absolute pl-3 z-10 -top-2 text-light-gray font md:text-base md:-top-3 ">Password*</label>
            <input type="email" name="username" id="username-id" required class="border-light-gray border rounded-md z-0 hover:outline-none hover:outline-transparent w-full h-12 pl-4 text-md md:h-14 md:text-base">
          </div>
          <p class="text-red text-sm md:text-base" >Password is required</p>
        </div>
        <div class="flex flex-col my-4 md:my-6">
          <div class="relative">
            <label for="username-id" class="text-sm outline-none absolute pl-3 z-10 -top-2 text-light-gray font md:text-base md:-top-3 ">Confirm Password*</label>
            <input type="email" name="username" id="username-id" required class="border-light-gray border rounded-md z-0 hover:outline-none hover:outline-transparent w-full h-12 pl-4 text-md md:h-14 md:text-base">
          </div>
          <p class="text-red text-sm md:text-base" >Confirm password is required</p>
          <p class="text-red text-sm md:text-base" >Passwords do not match</p>
          <p class="text-red text-sm md:text-base">User already registered</p>
        </div>
        <p class="w-full md:text-lg">Already registered?
          <a routerLink="/signin" class="text-blue pl-1 font-bold hover:underline hover:cursor-pointer">Login</a></p>
        <button class="bg-purple text-white w-full my-2 text-base font-semibold h-12 rounded-md md:h-14 md:text-lg">Register</button>
      </form>
    </article>
  </section>
</main>
