<main>
  <h2 class="title">Sign Up</h2>
  <p>Enter details to create your account</p>
  <form [formGroup]="formSignUp" (ngSubmit)="submitSignUpForm()">
    <label>
      Username:
      <input type="text" formControlName="username">
      <span *ngIf="invalidName">Username is required</span>
    </label>
    <label>
      Email:
      <input type="email" formControlName="email">
      <span *ngIf="invalidEmail">Email is required</span>
    </label>
    <label>
      Password:
      <input type="password" formControlName="password">
      <span *ngIf="invalidPassword">Password is required</span>
    </label>
    <label>
      Confirm Password:
      <input type="password" formControlName="confirmPassword">
      <span *ngIf="invalidConfirmPassword">Confirm Password is required</span>
      <span *ngIf="formSignUp.get('confirmPassword')?.errors?.['passwordNotMatch']">Passwords do not match</span>
    </label>
    <p>Already registered? <a routerLink="/auth/signin">Login</a> </p>
    <button type="submit">Sign up</button>
    <span *ngIf="userExists">User already exists</span>
  </form>
</main>
